<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/Home">Home</a>
         <!-- <a class="nav-item nav-link" roterLink="/Login">Logout</a>  -->
       
    </div>
    <ul class="navbar-nav ml-auto">
        <li>
            <a class="nav-link" routerLink="/Login">Login</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/Register">Register</a>
        </li>
    </ul>
  </nav>
  
  <div class="card bg-dark text-white mt-5" style="margin: auto; width: 600px;">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" name="username" required  >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" required >
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" (click)="trylogin(username.value,password.value)">
              Login
            </button>
          </div>

    </div>
    
  </div>
