<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/Home">Home</a>
         <!-- <a class="nav-item nav-link" roterLink="/Login">Logout</a>  -->
       
    </div>
    <ul class="navbar-nav ml-auto">
        <li>
            <a class="nav-link" routerLink="/Login">Login</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/Register">Register</a>
        </li>
    </ul>
  </nav>
<router-outlet></router-outlet>