<div class="row">
  <div class="col-md-4 offset-md-4">
    <!--  -->
    <!-- Your Code Goes Here-->
    <div class="card bg-dark text-white mt-5" style="margin: auto; width: 600px;">
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()">

          <div [class]="'form-group'">
            <label for="email">Email or Username</label>
            <input type="text" [class]="'form-control'" id="email" formControlName="email">
          </div>
          <div *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.dirty"
            [class]="'alert alert-danger'" id="emailError">
            <span *ngIf="registerForm.controls.email.errors?.required"> field is required</span>
          </div>

          <!-- control states of afield ==> valid invalid dirty pristine touched untouched -->


          <div [class]="'form-group'">
            <label for="password">Password</label>
            <input type="password" [class]="'form-control'" id="password" formControlName="password">
          </div>
          <div *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.dirty"
            [class]="'alert alert-danger'" id="passwordError">
            <span *ngIf="registerForm.controls.password.errors?.required">Password Required</span>
          </div>

          <div [class]="'form-group'">
            <label for="uname">User Name</label>
            <input type="text" [class]="'form-control'" id="uname" formControlName="uname">
          </div>
          <div *ngIf="registerForm.controls.uname.invalid && registerForm.controls.uname.dirty"
            [class]="'alert alert-danger'" id="unameError">
            <span *ngIf="registerForm.controls.uname.errors?.required">username Required</span>
          </div>

        <div class="form-gruop">
          <button type="submit" [class]="'btn btn-info'" [disabled]="registerForm.invalid">Register</button>
        </div>
          <span>{{message}}</span>
        
         


        </form>
      </div>
    </div>
  </div>
</div>